---
http_interactions:
- request:
    method: get
    uri: https://api.parliament.uk/search/description
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<AUTH_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/opensearchdescription+xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\r\n<OpenSearchDescription xmlns=\"http://a9.com/-/spec/opensearch/1.1/\">\r\n
        \ <ShortName>parliament.uk</ShortName>\r\n  <Description>UK Parliament</Description>\r\n
        \ <Url template=\"https://api-parliament-uk.azure-api.net/Staging/search?q={searchTerms}&amp;start={startIndex?}&amp;count={count?}\"
        type=\"application/atom+xml\" />\r\n  <Url template=\"https://api-parliament-uk.azure-api.net/Staging/search?q={searchTerms}&amp;start={startIndex?}&amp;count={count?}\"
        type=\"application/rss+xml\" />\r\n  <Url template=\"https://api-parliament-uk.azure-api.net/Staging/search?q={searchTerms}&amp;start={startIndex?}&amp;count={count?}\"
        type=\"application/json\" />\r\n  <Url template=\"https://api-parliament-uk.azure-api.net/Staging/search?q={searchTerms}&amp;start={startIndex?}&amp;count={count?}\"
        type=\"text/json\" />\r\n  <Url template=\"https://api-parliament-uk.azure-api.net/Staging/search?q={searchTerms}&amp;start={startIndex?}&amp;count={count?}\"
        type=\"text/xml\" />\r\n  <Url template=\"https://api-parliament-uk.azure-api.net/Staging/search?q={searchTerms}&amp;start={startIndex?}&amp;count={count?}\"
        type=\"application/xml\" />\r\n</OpenSearchDescription>"
  recorded_at: Thu, 05 Jul 2018 14:22:34 GMT
- request:
    method: get
    uri: https://api-parliament-uk.azure-api.net/Staging/search?count=10&q=diane%20abbott&start=7541
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<AUTH_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml
    body:
      encoding: ASCII-8BIT
      string: '<?xml version="1.0" encoding="utf-8"?><feed xmlns="http://www.w3.org/2005/Atom"><title
        type="text">Parliament.uk Search: diane abbott</title><id>uuid:a46deb0f-a69d-4e1d-b183-f6b94fb74d76;id=1158</id><updated>2018-07-05T14:22:37Z</updated><author><name>Parliament.uk</name></author><Query
        role="request" searchTerms="diane abbott" totalResults="7470" count="10" startIndex="7541"
        xmlns="http://a9.com/-/spec/opensearch/1.1/" /><totalResults xmlns="http://a9.com/-/spec/opensearch/1.1/">7470</totalResults><startIndex
        xmlns="http://a9.com/-/spec/opensearch/1.1/">7541</startIndex><itemsPerPage
        xmlns="http://a9.com/-/spec/opensearch/1.1/">10</itemsPerPage><entry><id>uuid:a46deb0f-a69d-4e1d-b183-f6b94fb74d76;id=1159</id><title
        type="text">House of Commons Hansard Debates for 26 Jan 2015 (pt 0002)</title><updated>2018-07-05T14:22:37Z</updated><link
        title="https://publications.parliament.uk/pa/cm201415/cmhansrd/cm150126/..."
        href="https://publications.parliament.uk/pa/cm201415/cmhansrd/cm150126/debtext/150126-0002.htm"
        /><content type="text">Abbott, Ms Diane. Ainsworth, rh Mr Bob. Alexander,
        rh Mr Douglas. Alexander, Heidi. Ali, Rushanara. Allen, Mr Graham. Anderson,
        Mr David. Ashworth, Jonathan. Austin, Ian.</content><hints xmlns="" /></entry><entry><id>uuid:a46deb0f-a69d-4e1d-b183-f6b94fb74d76;id=1160</id><title
        type="text">House of Commons Hansard Debates for 10 Oct 2013 (pt 0001)</title><updated>2018-07-05T14:22:37Z</updated><link
        title="https://publications.parliament.uk/pa/cm201314/cmhansrd/cm131010/..."
        href="https://publications.parliament.uk/pa/cm201314/cmhansrd/cm131010/debtext/131010-0001.htm"
        /><content type="text">Read the House of commons debates for 10 October 2013
    [...]
