---
http_interactions:
- request:
    method: get
    uri: https://api.parliament.uk/search/description
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<AUTH_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/opensearchdescription+xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\r\n<OpenSearchDescription xmlns=\"http://a9.com/-/spec/opensearch/1.1/\">\r\n
        \ <ShortName>parliament.uk</ShortName>\r\n  <Description>UK Parliament</Description>\r\n
        \ <Url template=\"https://api.parliament.uk/search?q={searchTerms}&amp;start={startIndex?}&amp;count={count?}\"
        type=\"application/atom+xml\" />\r\n  <Url template=\"https://api.parliament.uk/search?q={searchTerms}&amp;start={startIndex?}&amp;count={count?}\"
        type=\"application/rss+xml\" />\r\n  <Url template=\"https://api.parliament.uk/search?q={searchTerms}&amp;start={startIndex?}&amp;count={count?}\"
        type=\"application/json\" />\r\n  <Url template=\"https://api.parliament.uk/search?q={searchTerms}&amp;start={startIndex?}&amp;count={count?}\"
        type=\"text/json\" />\r\n  <Url template=\"https://api.parliament.uk/search?q={searchTerms}&amp;start={startIndex?}&amp;count={count?}\"
        type=\"text/xml\" />\r\n  <Url template=\"https://api.parliament.uk/search?q={searchTerms}&amp;start={startIndex?}&amp;count={count?}\"
        type=\"application/xml\" />\r\n</OpenSearchDescription>"
  recorded_at: Thu, 12 Jul 2018 12:22:33 GMT
- request:
    method: get
    uri: https://api.parliament.uk/search?count=10&q=diane%20abbott&start=7471
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<AUTH_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml
    body:
      encoding: ASCII-8BIT
      string: '<?xml version="1.0" encoding="utf-8"?><feed xmlns="http://www.w3.org/2005/Atom"><title
        type="text">Parliament.uk Search: diane abbott</title><id>uuid:2887c797-5446-498d-98f0-edc5b03decda;id=97600</id><updated>2018-07-12T12:22:34Z</updated><author><name>Parliament.uk</name></author><Query
        role="request" searchTerms="diane abbott" totalResults="7480" count="10" startIndex="7471"
        xmlns="http://a9.com/-/spec/opensearch/1.1/" /><totalResults xmlns="http://a9.com/-/spec/opensearch/1.1/">7480</totalResults><startIndex
        xmlns="http://a9.com/-/spec/opensearch/1.1/">7471</startIndex><itemsPerPage
        xmlns="http://a9.com/-/spec/opensearch/1.1/">10</itemsPerPage><entry><id>uuid:2887c797-5446-498d-98f0-edc5b03decda;id=97601</id><title
        type="text">House of Commons Hansard Debates for 17 July 2014 (pt 0002)</title><updated>2018-07-12T12:22:34Z</updated><link
        title="https://publications.parliament.uk/pa/cm201415/cmhansrd/cm140717/..."
        href="https://publications.parliament.uk/pa/cm201415/cmhansrd/cm140717/debtext/140717-0002.htm"
        /><content type="text">Read the House of commons debates for 17 July 2014
        on Hallett Review, ... Ms Diane Abbott ... (Ms Abbott), when the then ...</content><hints
        xmlns="" /></entry><entry><id>uuid:2887c797-5446-498d-98f0-edc5b03decda;id=97602</id><title
        type="text">House of Commons Hansard Debates for 15 Jun 2015 (pt 0001)</title><updated>2018-07-12T12:22:34Z</updated><link
        title="https://publications.parliament.uk/pa/cm201516/cmhansrd/cm150615/..."
        href="https://publications.parliament.uk/pa/cm201516/cmhansrd/cm150615/debtext/150615-0001.htm"
        /><content type="text">Read the House of commons debates for 15 June 2015
        on School Funding, Academy Sponsorship Programme, School Buildings, Childcare,
        Business and Work Experi...</content><hints xmlns="" /></entry><entry><id>uuid:2887c797-5446-498d-98f0-edc5b03decda;id=97603</id><title
        type="text">House of Commons Hansard Debates for 18 Jun 2015 (pt 0004)</title><updated>2018-07-12T12:22:34Z</updated><link
        title="https://publications.parliament.uk/pa/cm201516/cmhansrd/cm150618/..."
        href="https://publications.parliament.uk/pa/cm201516/cmhansrd/cm150618/debtext/150618-0004.htm"
        /><content type="text">Abbott, Ms Diane. Abrahams, Debbie. Ahmed-Sheikh, Ms
    [...]
