---
http_interactions:
- request:
    method: get
    uri: https://api.parliament.uk/search/description
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<AUTH_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/opensearchdescription+xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\r\n<OpenSearchDescription xmlns=\"http://a9.com/-/spec/opensearch/1.1/\">\r\n
        \ <ShortName>parliament.uk</ShortName>\r\n  <Description>UK Parliament</Description>\r\n
        \ <Url template=\"https://api-parliament-uk.azure-api.net/Staging/search?q={searchTerms}&amp;start={startIndex?}&amp;count={count?}\"
        type=\"application/atom+xml\" />\r\n  <Url template=\"https://api-parliament-uk.azure-api.net/Staging/search?q={searchTerms}&amp;start={startIndex?}&amp;count={count?}\"
        type=\"application/rss+xml\" />\r\n  <Url template=\"https://api-parliament-uk.azure-api.net/Staging/search?q={searchTerms}&amp;start={startIndex?}&amp;count={count?}\"
        type=\"application/json\" />\r\n  <Url template=\"https://api-parliament-uk.azure-api.net/Staging/search?q={searchTerms}&amp;start={startIndex?}&amp;count={count?}\"
        type=\"text/json\" />\r\n  <Url template=\"https://api-parliament-uk.azure-api.net/Staging/search?q={searchTerms}&amp;start={startIndex?}&amp;count={count?}\"
        type=\"text/xml\" />\r\n  <Url template=\"https://api-parliament-uk.azure-api.net/Staging/search?q={searchTerms}&amp;start={startIndex?}&amp;count={count?}\"
        type=\"application/xml\" />\r\n</OpenSearchDescription>"
  recorded_at: Mon, 02 Jul 2018 14:19:44 GMT
- request:
    method: get
    uri: https://api-parliament-uk.azure-api.net/Staging/search?count=10&q=diane%20abbott&start=7541
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<AUTH_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml
    body:
      encoding: ASCII-8BIT
      string: '<?xml version="1.0" encoding="utf-8"?><feed xmlns="http://www.w3.org/2005/Atom"><title
        type="text">Parliament.uk Search: diane abbott</title><id>uuid:a46deb0f-a69d-4e1d-b183-f6b94fb74d76;id=293</id><updated>2018-07-02T14:19:53Z</updated><author><name>Parliament.uk</name></author><Query
        role="request" searchTerms="diane abbott" totalResults="7640" count="10" startIndex="7541"
        xmlns="http://a9.com/-/spec/opensearch/1.1/" /><totalResults xmlns="http://a9.com/-/spec/opensearch/1.1/">7640</totalResults><startIndex
        xmlns="http://a9.com/-/spec/opensearch/1.1/">7541</startIndex><itemsPerPage
        xmlns="http://a9.com/-/spec/opensearch/1.1/">10</itemsPerPage><entry><id>uuid:a46deb0f-a69d-4e1d-b183-f6b94fb74d76;id=294</id><title
        type="text">Jeremy Quin MP - UK Parliament</title><updated>2018-07-02T14:19:53Z</updated><link
        title="https://www.parliament.uk/biographies/commons/jeremy-quin/4507" href="https://www.parliament.uk/biographies/commons/jeremy-quin/4507"
        /><content type="text">Jeremy Quin Party. Conservative Contact Details Parliamentary.
        House of Commons, London, SW1A 0AA Tel: 020 7219 6341 Email ...</content><hints
        xmlns="" /></entry><entry><id>uuid:a46deb0f-a69d-4e1d-b183-f6b94fb74d76;id=295</id><title
        type="text">Written questions and answers - UK Parliament</title><updated>2018-07-02T14:19:53Z</updated><link
        title="https://www.parliament.uk/writtenanswers?page=2&amp;max=100" href="https://www.parliament.uk/writtenanswers?page=2&amp;max=100"
        /><content type="text">Written questions allow Members of Parliament to ask
        government ministers for information on the work, policy and activities of
        government departments ...</content><hints xmlns="" /></entry><entry><id>uuid:a46deb0f-a69d-4e1d-b183-f6b94fb74d76;id=296</id><title
        type="text">House of Commons Hansard Debates for 17 July 2013 (pt 0003)</title><updated>2018-07-02T14:19:53Z</updated><link
        title="https://publications.parliament.uk/pa/cm201314/cmhansrd/cm130717/..."
        href="https://publications.parliament.uk/pa/cm201314/cmhansrd/cm130717/debtext/130717-0003.htm"
        /><content type="text">Read the House of commons debates for 17 July 2013
       [...]
