---
http_interactions:
- request:
    method: get
    uri: https://api.parliament.uk/search/description
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<AUTH_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/opensearchdescription+xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\r\n<OpenSearchDescription xmlns=\"http://a9.com/-/spec/opensearch/1.1/\">\r\n
        \ <ShortName>parliament.uk</ShortName>\r\n  <Description>UK Parliament</Description>\r\n
        \ <Url template=\"https://api-parliament-uk.azure-api.net/Staging/search?q={searchTerms}&amp;start={startIndex?}&amp;count={count?}\"
        type=\"application/atom+xml\" />\r\n  <Url template=\"https://api-parliament-uk.azure-api.net/Staging/search?q={searchTerms}&amp;start={startIndex?}&amp;count={count?}\"
        type=\"application/rss+xml\" />\r\n  <Url template=\"https://api-parliament-uk.azure-api.net/Staging/search?q={searchTerms}&amp;start={startIndex?}&amp;count={count?}\"
        type=\"application/json\" />\r\n  <Url template=\"https://api-parliament-uk.azure-api.net/Staging/search?q={searchTerms}&amp;start={startIndex?}&amp;count={count?}\"
        type=\"text/json\" />\r\n  <Url template=\"https://api-parliament-uk.azure-api.net/Staging/search?q={searchTerms}&amp;start={startIndex?}&amp;count={count?}\"
        type=\"text/xml\" />\r\n  <Url template=\"https://api-parliament-uk.azure-api.net/Staging/search?q={searchTerms}&amp;start={startIndex?}&amp;count={count?}\"
        type=\"application/xml\" />\r\n</OpenSearchDescription>"
  recorded_at: Thu, 05 Jul 2018 11:26:51 GMT
- request:
    method: get
    uri: https://api-parliament-uk.azure-api.net/Staging/search?count=10&q=diane%20abbott&start=7541
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<AUTH_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml
    body:
      encoding: ASCII-8BIT
      string: '<?xml version="1.0" encoding="utf-8"?><feed xmlns="http://www.w3.org/2005/Atom"><title
        type="text">Parliament.uk Search: diane abbott</title><id>uuid:a46deb0f-a69d-4e1d-b183-f6b94fb74d76;id=1022</id><updated>2018-07-05T11:26:54Z</updated><author><name>Parliament.uk</name></author><Query
        role="request" searchTerms="diane abbott" totalResults="7450" count="10" startIndex="7541"
        xmlns="http://a9.com/-/spec/opensearch/1.1/" /><totalResults xmlns="http://a9.com/-/spec/opensearch/1.1/">7450</totalResults><startIndex
        xmlns="http://a9.com/-/spec/opensearch/1.1/">7541</startIndex><itemsPerPage
        xmlns="http://a9.com/-/spec/opensearch/1.1/">10</itemsPerPage><entry><id>uuid:a46deb0f-a69d-4e1d-b183-f6b94fb74d76;id=1023</id><title
        type="text">House of Commons Hansard Debates for 15 Feb 2011 (pt 0002)</title><updated>2018-07-05T11:26:54Z</updated><link
        title="https://publications.parliament.uk/pa/cm201012/cmhansrd/cm110215/..."
        href="https://publications.parliament.uk/pa/cm201012/cmhansrd/cm110215/debtext/110215-0002.htm"
        /><content type="text">Abbott, Ms Diane. Abrahams, Debbie. Alexander, rh Mr
        Douglas. Alexander, Heidi. Ali, Rushanara. Allen, Mr Graham. Anderson, Mr
        David. Austin, Ian. Bain, Mr William ...</content><hints xmlns="" /></entry><entry><id>uuid:a46deb0f-a69d-4e1d-b183-f6b94fb74d76;id=1024</id><title
        type="text">Westminster Hall - United Kingdom Parliament home page</title><updated>2018-07-05T11:26:54Z</updated><link
        title="https://publications.parliament.uk/pa/cm201314/cmhansrd/cm131009/..."
        href="https://publications.parliament.uk/pa/cm201314/cmhansrd/cm131009/halltext/131009h0001.htm"
        /><content type="text">Westminster Hall Wednesday 9 October 2013 [Martin Caton
     [...]
