---
http_interactions:
- request:
    method: get
    uri: https://api.parliament.uk/search/description
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<AUTH_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/opensearchdescription+xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\r\n<OpenSearchDescription xmlns=\"http://a9.com/-/spec/opensearch/1.1/\">\r\n
        \ <ShortName>parliament.uk</ShortName>\r\n  <Description>UK Parliament</Description>\r\n
        \ <Url template=\"https://api.parliament.uk/search?q={searchTerms}&amp;start={startIndex?}&amp;count={count?}\"
        type=\"application/atom+xml\" />\r\n  <Url template=\"https://api.parliament.uk/search?q={searchTerms}&amp;start={startIndex?}&amp;count={count?}\"
        type=\"application/rss+xml\" />\r\n  <Url template=\"https://api.parliament.uk/search?q={searchTerms}&amp;start={startIndex?}&amp;count={count?}\"
        type=\"application/json\" />\r\n  <Url template=\"https://api.parliament.uk/search?q={searchTerms}&amp;start={startIndex?}&amp;count={count?}\"
        type=\"text/json\" />\r\n  <Url template=\"https://api.parliament.uk/search?q={searchTerms}&amp;start={startIndex?}&amp;count={count?}\"
        type=\"text/xml\" />\r\n  <Url template=\"https://api.parliament.uk/search?q={searchTerms}&amp;start={startIndex?}&amp;count={count?}\"
        type=\"application/xml\" />\r\n</OpenSearchDescription>"
  recorded_at: Fri, 20 Jul 2018 14:49:38 GMT
- request:
    method: get
    uri: https://api.parliament.uk/search?count=10&q=diane%20abbott&start=11
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<AUTH_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml
    body:
      encoding: ASCII-8BIT
      string: '<?xml version="1.0" encoding="utf-8"?><feed xmlns="http://www.w3.org/2005/Atom"><title
        type="text">Parliament.uk Search: diane abbott</title><id>uuid:758ebd0d-eca5-4705-8c04-a036d4bb05fb;id=87660</id><updated>2018-07-20T14:49:38Z</updated><author><name>Parliament.uk</name></author><Query
        role="request" searchTerms="diane abbott" totalResults="7520" count="10" startIndex="11"
        xmlns="http://a9.com/-/spec/opensearch/1.1/" /><totalResults xmlns="http://a9.com/-/spec/opensearch/1.1/">7520</totalResults><startIndex
        xmlns="http://a9.com/-/spec/opensearch/1.1/">11</startIndex><itemsPerPage
        xmlns="http://a9.com/-/spec/opensearch/1.1/">10</itemsPerPage><entry><id>uuid:758ebd0d-eca5-4705-8c04-a036d4bb05fb;id=87661</id><title
        type="text">Sack Diane Abbott MP - Petitions</title><updated>2018-07-20T14:49:38Z</updated><link
        title="https://petition.parliament.uk/petitions/182760" href="https://petition.parliament.uk/petitions/182760"
        /><content type="text">Diane Abbott is a disgrace to the position of MP, refusal
        to accept the will of the electorate and putting her own views above those
        of the British people regarding ...</content><hints xmlns="" /></entry><entry><id>uuid:758ebd0d-eca5-4705-8c04-a036d4bb05fb;id=87662</id><title
        type="text">Miss Diane Abbott (Hansard) - api.parliament.uk</title><updated>2018-07-20T14:49:38Z</updated><link
        title="https://api.parliament.uk/historic-hansard/people/miss-diane-abbott"
        href="https://api.parliament.uk/historic-hansard/people/miss-diane-abbott/index.html"
        /><content type="text">Miss Diane Abbott. September 27, 1953 - . ... Constituencies.
        Hackney North and Stoke Newington June 11, 1987 - ? Contributions</content><hints
        xmlns=""><hint><Name>Historic Hansard</Name><Filter>api.parliament.uk/historic-hansard</Filter></hint></hints></entry><entry><id>uuid:758ebd0d-eca5-4705-8c04-a036d4bb05fb;id=87663</id><title
        type="text">Indonesia: Droughts:Written question - 41141 - UK Parliament</title><updated>2018-07-20T14:49:38Z</updated><link
        title="https://www.parliament.uk/business/publications/written-questions..."
        href="https://www.parliament.uk/business/publications/written-questions-answers-statements/written-question/Commons/2016-06-24/41141/"
[...]
