---
http_interactions:
- request:
    method: get
    uri: https://api.parliament.uk/search/description
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<AUTH_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/opensearchdescription+xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\r\n<OpenSearchDescription xmlns=\"http://a9.com/-/spec/opensearch/1.1/\">\r\n
        \ <ShortName>parliament.uk</ShortName>\r\n  <Description>UK Parliament</Description>\r\n
        \ <Url template=\"https://api-parliament-uk.azure-api.net/Staging/search?q={searchTerms}&amp;start={startIndex?}&amp;count={count?}\"
        type=\"application/atom+xml\" />\r\n  <Url template=\"https://api-parliament-uk.azure-api.net/Staging/search?q={searchTerms}&amp;start={startIndex?}&amp;count={count?}\"
        type=\"application/rss+xml\" />\r\n  <Url template=\"https://api-parliament-uk.azure-api.net/Staging/search?q={searchTerms}&amp;start={startIndex?}&amp;count={count?}\"
        type=\"application/json\" />\r\n  <Url template=\"https://api-parliament-uk.azure-api.net/Staging/search?q={searchTerms}&amp;start={startIndex?}&amp;count={count?}\"
        type=\"text/json\" />\r\n  <Url template=\"https://api-parliament-uk.azure-api.net/Staging/search?q={searchTerms}&amp;start={startIndex?}&amp;count={count?}\"
        type=\"text/xml\" />\r\n  <Url template=\"https://api-parliament-uk.azure-api.net/Staging/search?q={searchTerms}&amp;start={startIndex?}&amp;count={count?}\"
        type=\"application/xml\" />\r\n</OpenSearchDescription>"
  recorded_at: Thu, 14 Jun 2018 16:16:26 GMT
- request:
    method: get
    uri: https://api-parliament-uk.azure-api.net/Staging/search?count=10&q=diane%20abbott&start=7541
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<AUTH_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml
    body:
      encoding: ASCII-8BIT
      string: '<?xml version="1.0" encoding="utf-8"?><feed xmlns="http://www.w3.org/2005/Atom"><title
        type="text">Parliament.uk Search: diane abbott</title><id>uuid:d6654c98-def2-493a-b527-b92e78f626dd;id=2032</id><updated>2018-06-14T16:16:29Z</updated><author><name>Parliament.uk</name></author><Query
        role="request" searchTerms="diane abbott" totalResults="8370" count="10" startIndex="7541"
        xmlns="http://a9.com/-/spec/opensearch/1.1/" /><totalResults xmlns="http://a9.com/-/spec/opensearch/1.1/">8370</totalResults><startIndex
        xmlns="http://a9.com/-/spec/opensearch/1.1/">7541</startIndex><itemsPerPage
        xmlns="http://a9.com/-/spec/opensearch/1.1/">10</itemsPerPage><entry><id>uuid:d6654c98-def2-493a-b527-b92e78f626dd;id=2033</id><title
        type="text">Armed Forces: Animals:Written question - 20460 - UK Parliament</title><updated>2018-06-14T16:16:29Z</updated><link
        title="https://www.parliament.uk/business/publications/written-questions..."
        href="https://www.parliament.uk/business/publications/written-questions-answers-statements/written-question/Commons/2015-12-16/20460/"
        /><content type="text">To ask the Secretary of State for Defence, how many
        official animal mascots there are in the armed forces; and what the (a) rank,
        (b) rations, (c) species ...</content><hints xmlns="" /></entry><entry><id>uuid:d6654c98-def2-493a-b527-b92e78f626dd;id=2034</id><title
        type="text">Division 268, Immigration Bill - Hansard Online</title><updated>2018-06-14T16:16:29Z</updated><link
        title="https://hansard.parliament.uk/.../ImmigrationBill?outputType=Names"
        href="https://hansard.parliament.uk/Commons/2016-05-09/division/5D437598-3EAE-4081-9BD3-4381F5590727/ImmigrationBill?outputType=Names"
        /><content type="text">Hansard (the Official Report) is[...]
[...]
