---
http_interactions:
- request:
    method: get
    uri: https://api.parliament.uk/search_page/description
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<AUTH_TOKEN>"
      Api-Version:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/opensearchdescription+xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\r\n<OpenSearchDescription xmlns=\"http://a9.com/-/spec/opensearch/1.1/\">\r\n
        \ <ShortName>parliament.uk</ShortName>\r\n  <Description>UK Parliament</Description>\r\n
        \ <Url template=\"https://api.parliament.uk/search?q={searchTerms}&amp;start={startIndex?}&amp;count={count?}\"
        type=\"application/atom+xml\" />\r\n  <Url template=\"https://api.parliament.uk/search?q={searchTerms}&amp;start={startIndex?}&amp;count={count?}\"
        type=\"application/rss+xml\" />\r\n  <Url template=\"https://api.parliament.uk/search?q={searchTerms}&amp;start={startIndex?}&amp;count={count?}\"
        type=\"application/json\" />\r\n  <Url template=\"https://api.parliament.uk/search?q={searchTerms}&amp;start={startIndex?}&amp;count={count?}\"
        type=\"text/json\" />\r\n  <Url template=\"https://api.parliament.uk/search?q={searchTerms}&amp;start={startIndex?}&amp;count={count?}\"
        type=\"text/xml\" />\r\n  <Url template=\"https://api.parliament.uk/search?q={searchTerms}&amp;start={startIndex?}&amp;count={count?}\"
        type=\"application/xml\" />\r\n</OpenSearchDescription>"
  recorded_at: Thu, 30 Aug 2018 14:03:06 GMT
- request:
    method: get
    uri: https://api.parliament.uk/search?count=10&q=banana&start=21
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<AUTH_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml
    body:
      encoding: ASCII-8BIT
      string: '<?xml version="1.0" encoding="utf-8"?><feed xmlns="http://www.w3.org/2005/Atom"><title
        type="text">Parliament.uk Search: banana</title><id>uuid:6dfda7cb-119a-4795-9d1d-ac8828e33655;id=90402</id><updated>2018-08-30T14:03:06Z</updated><author><name>Parliament.uk</name></author><Query
        role="request" searchTerms="banana" totalResults="570" count="10" startIndex="21"
        xmlns="http://a9.com/-/spec/opensearch/1.1/" /><totalResults xmlns="http://a9.com/-/spec/opensearch/1.1/">570</totalResults><startIndex
        xmlns="http://a9.com/-/spec/opensearch/1.1/">21</startIndex><itemsPerPage
        xmlns="http://a9.com/-/spec/opensearch/1.1/">10</itemsPerPage><entry><id>uuid:6dfda7cb-119a-4795-9d1d-ac8828e33655;id=90403</id><title
        type="text">House of Commons - International Development - Minutes of ...</title><updated>2018-08-30T14:03:06Z</updated><link
        title="https://publications.parliament.uk/pa/cm199798/cmselect/cmintdev/..."
        href="https://publications.parliament.uk/pa/cm199798/cmselect/cmintdev/365/8020305.htm"
        /><content type="text">Since its inception, Chiquita has dominated banana
        production in Central America and banana marketing in the United States, European
        and latterly Japan.</content><hints xmlns=""><hint><Name>Commons publication
        from session: 1997-98</Name><Filter></Filter></hint></hints></entry><entry><id>uuid:6dfda7cb-119a-4795-9d1d-ac8828e33655;id=90404</id><title
        type="text">House of Commons Hansard Debates for 25 Feb 1993</title><updated>2018-08-30T14:03:06Z</updated><link
        title="https://publications.parliament.uk/pa/cm199293/cmhansrd/1993-02-25/..."
        href="https://publications.parliament.uk/pa/cm199293/cmhansrd/1993-02-25/Orals-2.html"
        /><content type="text">Column 999. consumers of bananas? Is he aware that
        th[...]
